.Header__container {
  position: relative;
  width: 100%;
  height: 130px;
  background-color: var(--body-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease;
  padding: 0 20px;
}
.Header__container img {
  width: 100px;
  height: 100%;
}

.Header__sectionOne {
  display: flex;
}

.Header__sectionOne a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-color-black);
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  border-radius: 20px;
}

.Header__sectionOne a:hover {
  background-color: #1e4f80;
  color: var(--text-color-white);
}

.Header__sectionOne img {
  width: 35px;
  height: 35px;
}

.Header__sectionOne p {
  font-size: 16px;
  font-weight: 500;
}

.Header__sectionOne i {
  font-size: 35px;
}

.Header__buttons {
  display: none;
}

@media (max-width: 1000px) {
  .Header__container {
    position: relative;
    width: 100%;
    height: 80px;
    align-items: end;
  }

  .Header__container:hover {
    width: 100%;
  }

  .Header__buttons {
    padding: 20px;
  }

  .Header__buttons i {
    font-size: 38px;
    color: var(--text-color-white);
    cursor: pointer;
  }

  .Header__sectionOne {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    z-index: 2;
    background-color: var(--body-grayBlue);
    transition: 0.5s ease;
    box-shadow: 0 5px 10px 3px rgb(56, 69, 76);
  }
  .closeMain {
    transform: translateX(110%);
  }

  .Header__buttons {
    display: block;
  }

  .Header__sectionOne {
    padding-top: 20px;
  }

  .Header__sectionOne img {
    width: 30px;
    height: 30px;
  }
  .Header__sectionOne i {
    font-size: 30px;
  }

  .Header__sectionOne p {
    font-size: 15px;
  }
}
